<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ischoolbar.programmer.dao.admin.ProductDao">
	<!-- 商品的添加操作 -->
	<insert id="add" parameterType="com.ischoolbar.programmer.entity.admin.Product">
	insert into product
	(id,supplierId,name,place,spec,pk,unit,price,remark) values(null,#{supplierId},#{name},#{place},#{spec},#{pk},#{unit},#{price},#{remark})
	</insert>
	<!-- 商品编辑 -->
	<update id="edit"
	parameterType="com.ischoolbar.programmer.entity.admin.Product">
	update product set supplierId=#{supplierId},name=#{name},
	place=#{place},spec=#{spec},pk=#{pk},unit=#{unit},price=#{price},remark=#{remark} where id=#{id}
	</update>
	<!-- 商品编辑搜索 -->
	<select id="findList" parameterType="Map"
	resultType="com.ischoolbar.programmer.entity.admin.Product">
	select * from product where 1=1
	<if test="supplierId!=null">
	and supplierId = #{supplierId}
	</if>
	<if test="name!=null">
	and name like '%${name}%'
	</if>
	<if test="offset!=null and pageSize!=null">
	limit #{offset},#{pageSize}
	</if>
	</select>
	<!-- 模糊搜索总条数 -->
	<select id="getTotal" parameterType="Map"
	resultType="Integer">
	select count(*) from product where 1=1
	<if test="supplierId!=null">
	and supplierId = #{supplierId}
	</if>
	<if test="name!=null">
	and name like '%${name}%'
	</if>
	</select>
	
	<!-- 删除商品信息	 -->
	<delete id="delete" parameterType="Long">
	delete from product where id = #{value}
	</delete>
</mapper>
